/* general formats */

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    background-color: lightgray;
    color: white;
    text-align: center;
}

/* form */
#empId {
    background-color: red;
    border-bottom: 10px dotted black;
}

/* .hovertext {
    
} */

/* table */
table {
    width: 75.15%;
}

th, td {
    padding: 15px;
    text-align: left;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}

#endOfTable {
    border: 1px solid;
    height: 2rem;
    background-color: lightgray;
    width: 75%;
    margin: 0px;
}

/* total salary */
#totalSalary {
    width: 75%;
    text-align: right;
}

